<footer class="footer">

    <div class="footer_div">
        <a class="footer_div_button_link" href="#hero">
            <img class="footer_div_button_link_img" src="./assets/images/ico-arrow.svg" alt="Icono con flecha apuntando arriba">
        </a>
    </div>

    <section class="footer_section">
        <nav class="footer_section_block">
            <ul class="footer_section_block_ul">
                <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Zapatillas</a></li>
                <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Ropa</a></li>
                <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Niño/a</a></li>
                <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Destacados</a></li>
                <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Tips</a></li>
            </ul>
        </nav>
            <nav class="footer_section_block">
                <ul class="footer_section_block_ul">
                    <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Twitter</a></li>
                    <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Instagram</a></li>
                    <li><a class="footer_section_block_ul_link" href="https://adalab.es/">Youtube</a></li>
                </ul>
            </nav>
        <section class="footer_section_copy">
            <p class="footer_section_copy_par">&copy;2023</p>
            <p class="footer_section_copy_par"> we <span class="footer_section_copy_par_heart">❤︎</span>run</p>
        </section>
    </section>

</footer>