<footer class="footer">

    <div class="footer_div">
        <a class="footer_div_button_link" href="#">
            <img class="footer_div_button_link_img" src="./assets/images/ico-arrow.svg" alt="Icono con flecha apuntando arriba">
        </a>
    </div>

    <nav class="footer_block">
        <ul class="footer_block_ul">
            <li>Zapatillas</li>
            <li>Ropa</li>
            <li>Niño/a</li>
            <li>Destacados</li>
            <li>tips</li>
        </ul>
        <ul class="footer_block_ul">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
        </ul>
    </nav>

    <p class="footer_copyright">&copy;2023 
        <p class="footer_copyright_par"> we 
            <span class="footer_copyright_par_heart">❤︎</span> 
            run</p>
    </p>

</footer>