<footer class="footer">

    <div class="footer_div">
        <a class="footer_div_button_link" href="#hero">
            <img class="footer_div_button_link_img" src="./assets/images/ico-arrow.svg" alt="Icono con flecha apuntando arriba">
        </a>
    </div>

    <nav class="footer_block">
        <ul class="footer_block_ul">
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Zapatillas</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Ropa</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Niño/a</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Destacados</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Tips</a></li>
        </ul>
        <ul class="footer_block_ul">
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Twitter</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Instagram</a></li>
            <li><a class="footer_block_ul_link" href="https://adalab.es/">Youtube</a></li>
        </ul>
    </nav>

    <p class="footer_copyright">&copy;2023 
        <p class="footer_copyright_par"> we 
            <span class="footer_copyright_par_heart">❤︎</span> 
            run</p>
    </p>

</footer>