$mossGreen: #6b933e ;
$white: white ;
$black: black;
$lightGrey: #d9e4cc;
$pink: #e41696;  
$brownishGrey: #626262;
$greyishBrown: #4a4a4a;
$shadow: #00000033;
$shadow2: #00000040;

$title: 'Roboto Slab', 'serif';
$text: 'Roboto', 'sans-serif';
