.header_menu {
    background-color: $moss-green;
    width: 36.4px;
    height: 36.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    &-link {
        &-icon{
            width: 13.5px;
            height: 11.8px;
        } 
    }
}
