.hero{
    height: 552px;
    background-image: url('/assets/images/cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 83%;
    text-align: center;
    padding: 29.2rem 4.25rem 5.79rem 3.42rem;
    &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_title{
            @include textStyle($white, $title, 3rem, 5rem);
            text-transform: uppercase;
            text-shadow: 0 2px 3px $shadow;
        }
        &_par{
        @include textStyle($white, $text, 1.6rem, 1.9rem);
        text-shadow: 0 2px 3px $shadow;
        padding-top: 1.5rem;
        padding-bottom: 1.2rem;
        font-weight: lighter;
        }
        &_div{
            width: 3.82rem;
            height: 3.82rem;
            background-color: $white;
            border-radius: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
                &_link{
                        &-image{
                            width: 1.69rem;
                            height: 0.99rem;
                        }
                }
        }
    }
}