<section class="school">

    <h4 class="school_h4">¡Prepáralos con tus marcas favoritas!</h5>

    <h2 class="school_h3">Vuelta al cole</h3>

    <ul class="school_div">
    
        <li class="school_div_list">
            <img class="school_div_list_img oneimg" src="./assets/images/lpbts-mod05-img01-desk.png" alt="Niña con mochila">
            <p class="school_div_list_par onepar"><strong>Mochilas escolares</strong></p>
        </li>

        <li class="school_div_list">
            <img class="school_div_list_img twoimg" src="./assets/images/lpbts-mod05-img04-mob.png" alt="Niño con estuches">
            <p class="school_div_list_par twopar"><strong>Estuches</strong></p>
        </li>

        <li class="school_div_list">
            <img class="school_div_list_img threeimg" src="./assets/images/lpbts-mod05-img03-mob.png" alt="Niña con bolsa de deporte">
            <p class="school_div_list_par threepar"><strong>Bolsa de deporte</strong></p>
        </li>

    </ul>
    <div class="school_button">
        <a class="school_button_link" href="https://adalab.es/">Empezar ahora</a>

    </div>

</section>