<section class="hero" id="hero">
    <div class="hero_text">
        <h1 class="hero_text_title">Comienzos compartidos</h1>
        <p class="hero_text_par">Todo lo que necesitan para volver al cole con ilusión</p>
        <div class="hero_text_div">
            <a class="hero_text_div_link" href="#school">
                <img class="hero_text_div_link-image" src="./assets/images/ico-scroll-down.svg" alt="Flecha verde apuntando hacia abajo" />
            </a>
        </div>
    </div>
</section>