<section class="sport">
    <article class="sport_text">
        <h3 class="sport_text_h3">Historias, moda y ropa deportiva</h3>
        <h2 class="sport_text_h2">Tu tienda de deporte</h2>
        <p class="sport_text_par">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
        <div class="sport_text_button">
            <a class="sport_text_button_shop" href="https://adalab.es/"">Comprar</a>
        </div>
    </article>
</section>